<%
require 'active_record'
ActiveRecord::Base.establish_connection(
  adapter: "postgresql",
  host: "localhost",
  username: "utb",
  password: "",
  database: "myapp"
)
Time.zone_default = Time.find_zone! 'Tokyo'
ActiveRecord::Base.default_timezone = :local
con = ActiveRecord::Base.connection

class Bookinfo < ActiveRecord::Base
end

sth = con.select_all("select * from bookinfos where id=\'#{target_id}\';")
%>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="default.css">
  <title>蔵書管理</title>
</head>
<body>
  <h1>蔵書管理</h1>
  <h2>蔵書データの削除</h2>
  <p>このデータを削除します |
  <a href="list.html.erb">蔵書データの表示</a> |
  <a href="index.html">メニュー画面に戻る</a></p>
  <hr>

  <%# 削除データを表示する アクションはdelete %>
  <form method="post" action="delete">
    <input type="hidden" name="id" value="<%= target_id %>" />
    <table>
      <%# select文の実行結果のidが指定されたデータを取り出し、繰り返し処理する %>
      <% sth.to_hash.each { |row| %>
        <th>項目名</th><th>削除データ</th>
        <% ['id', 'title', 'author', 'page', 'publish_date'].each { |name| %>
          <tr>
            <td><%= name %></td>
            <td><%= row[name] %></td>
            <input type="hidden" name="<%= name %>" value="<%= row[name] %>" />
          </tr>
        <% } %>
      <% } %>
    </table>
    <input type="submit" value="削除を実行" />
  </form>
  <hr>

</body>
</html>
